#not-found {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center
}

#not-found h1 {
  border-right: 1px solid rgba(255, 255, 255, .3);
  display: inline-block;
  margin: 0 20px 0 0;
  padding: 0 23px 0 0;
  font-size: 24px;
  font-weight: 500;
  vertical-align: top;
  line-height: 49px;
}

#not-found h2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 49px;
  margin: 0;
  display: inline-block;
}